{% extends "vote/base/base.html" %}
{%block content%}
      <div class="container">
       <div class="container">
         
        <h4 class='text-center'>Polling Station Name: Polling Station A</h4>
        <h6 class='text-center'>Voting Date: 10/12/2021</h6>
        <h6 class='text-center'>Polling Station Officer: Mr. Kwame </h6>
       </div>
       
      
    <div class="container-fluid">
     
      <table class="table">
        <thead>
          <tr>
            
            <th scope="col">Party Name</th>
            <th scope="col">Votes (figures)</th>
            <th scope="col">Votes (words)</th>
          </tr>
        </thead>
        <tbody>
          {%for i in data %}
                  {%for o in i.transaction %}
                   <tr>
                    <td>{{o.content}}</td>
                    <td>{{o.vote_in_number}}</td>
                    <td>{{o.votes_in_words}}</td>
                </tr>
                  {%endfor%}
          {%endfor%}
          <tr>
            
          
         
         
        </tbody>
      </table>
      
    </div>
      </div>
{%endblock%}