{% extends "vote/base/base.html" %}
     
     {% block content %}
    <div>
          <div class="container">
       <div class="container">
        <h1 class='text-center'>POLLING STATION POLITICAL PARTIES STATISTICS</h1>
        <h6 class='text-center'>Voting Date: 10/12/2021</h6>
        
       </div>
      
    <div>
     
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Polling Station</th>
            {%for i in data%}
            <th scope="col">{{i}}</th>
            {%endfor%}
            <th scope="col">REJECTED BALLOTS</th>
            <!-- <th scope="col">TOTAL</th> -->
            <th scope="col">Percentage (%)</th>
          </tr>
        </thead>
        <tbody>
          {%for i in final%}
            <tr>
              <th scope="row">{{i.index}}</th>
              <th >{{i.region}}</th>
              <td>{{i.npp}}</td>
              <td>{{i.ndc}}</td>
              <td>{{i.rejected}}</td>
              <td> {{i.total}}</td>
              <td> {{i.percentage}}</td>
                 
            </tr>

          {%endfor%}
         
        
          <!-- <tr>
              <th colspan="1"></th>
              <td>REJECTED BALLOTS</td>
              <td></td>
              
          </tr> -->
          <tr >
              <th colspan="1"></th>
              <td><span class="fw-bold">TOTAL (Polling station Party Sum):</span></td>

              {%for i in sums%}
              <td>{{i.nppsum}}</td>
              <td>{{i.ndcsum}}</td>
              <td>{{i.totalrejected}}</td>
              <td>{{i.votedtotal}}</td>
              <td>100</td>
              {%endfor%}
             
              
          </tr>
          <tr >
            <th colspan="1"></th>
            <td><span class="fw-bold">TOTAL (Percentage):</span></td>

            {%for i in percentage_res%}
            <td>{{i.npp_percentage}}</td>
            <td>{{i.ndc_percentage}}</td>
            <td>{{i.rejected_percentage}}</td>
            <td>100</td>

            {%endfor%}
           
            
        </tr>
        </tbody>
      </table>
      
    </div>
      </div>
          
    </div> 
{% endblock %}