{% extends "vote/base/base.html" %}
{%block content%}
     <div class="container">
        <div class="container">
            <h4 class='text-center'>CONSTITUENCY VOTE COUNTED</h4>
            <h6 class='text-center'>Voting Date: 10/12/2021</h6>
           </div>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">CONSTITUENCY</th>
                    {%for i in data%}
                    <th scope="col">{{i}}</th>
                    {%endfor%}
      
                   
                  </tr>
                </thead>
                <tbody>
                  {%for i in poll%}
                  <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i}}</td>
                    {%for w in dat%}
                    {% if w.Collation in i.constituency_name%}
                    <td>{{w.Total_}}</td>
                    {%endif%}
                    
                    {%endfor%}
                    
                    
                  </tr>

                  {%endfor%}
                
                 
                </tbody>
              </table>
        </div>
     </div>

{%endblock%}