{% extends "vote/base/base.html" %}
{%block content%}
     <div class="container">
        <div class="container">
            <h4 class='text-center'>POLLING STATIONS VOTE COUNTED</h4>
            <h6 class='text-center'>Voting Date: 20/11/2021</h6>
           </div>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Polling Station Name</th>
                    {%for i in datas%}
                    <th>{{i.name}}</th>
                    {%endfor%}
                    
                  </tr>
                </thead>
                <tbody> 
                  {%for a in data%}
                        
                  <tr id="demo">
                    <th colspan="1">{{a.id}}</th>
                    <td> {{a.polling_station_name}}</td>
                    {%for i in dat%}
                    {%if i.Poll in a.polling_station_name%}
                    <td>{{i.Vote_num}}</td>
                    {%endif%}
                    {%endfor%}
                     
                    <td class="dumb">
                      {%for w in dat%}
                        {%for h in w.transaction%}
                        {% if h.author in a.polling_station_name %}
                       
                        <script>
                          const mydata = "{{w.transaction|safe }}".replace(/'/g, '"');
                          var obj = JSON.parse(mydata);
                          
                          //document.querySelector('.dumb').textContent = obj.map(data => +data.vote_in_number).reduce((sum, current) => sum + current, 0)
                  
                        </script>
                    
                          {%endif%}
                        {%endfor%}
                      {%endfor%}
                    </td>
                    {%endfor%}
                    
                  </tr>
                  
               
                    
                </tbody>
              </table>
        </div>
     </div>

{%endblock%}