{% extends "vote/base/base.html" %}
{%block content%}
     <div class="container">
        <div class="container">
            <h4 class='text-center'>PARTY AGENT CONFIRM VOTE COUNTED</h4>
            <h6 class='text-center'>Voting Date: 20/11/2021</h6>
           </div>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    
                    {%for i in data%}
                    <th>{{i.name}}</th>
                    {%endfor%}
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody> 
                
                        
                  <tr id="demo">
                   
                    {%for b in dat %} 
                    {%for o in b.transaction %}
                   
                    <td>{{o.vote_in_number}}</td>
                    
           
                    {%endfor%}
                    
                    {%endfor%}
                    
                  </tr>
                  
                </tbody>
              </table>
              <div class="container">
                <form class="row g-3" method="POST">
                  {% csrf_token %}
                    <div class="col-auto">
                      <input type="text" name="userconfirm" class="form-control" id="inputPassword2" size="60" placeholder="Enter Sign Key">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-3">CONFIRM</button>
                    </div>
                  </form>
               </div>
        </div>
     </div>
{%endblock%}