{% extends "vote/base/base.html" %}
{%block content%}
     <div class="container">
        <div class="container">
            <h4 class='text-center'>CONSTITUENCY VOTE COUNTED</h4>
            <h6 class='text-center'>Voting Date: 10/12/2021</h6>
           </div>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Party Name / EC Officials</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><a href="{% url 'ec_offciail' %}">EC OFFICIALS </a></td>
                  </tr>
                  {%for i in party%}
                  <tr>
                    <th scope="row">{{i.id}}</th>
                    <td><a href="{% url 'party_info' %}">{{i.name}}</a></td>
                   </tr>
                   {%endfor%}
                </tbody>
              </table>
        </div>
     </div>

{%endblock%}