{% extends "vote/base/base.html" %}
{%block content%}
      <div class="container">
       <div class="container">
        <h4 class='text-center'>FINAL VOTE CONFIRMATION</h4>
        <h6 class='text-center'>Voting Date: 20/11/2021</h6>
        <h6 class='text-center'> EC Authorize Officer: Mr. Kwame John</h6>
       </div>
    <div class="container-fluid">
     
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Party Name</th>
            <th scope="col">Votes (figures)</th>
            <th scope="col">Votes (words)</th>
            <th scope="col">Party Confirmed code</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>Authorization Code: </td>
            <td>
              <form class="row g-3 ">
              <div class="col-auto">
                <input type="password" class="form-control" id="inputPassword2" size="4" placeholder="EC Code">
              </div>
            </td>
            <td>
              <div class="col-auto mb-3">
                <button type="submit" class="btn btn-primary mb-3">Unlock Confirmation</button>
              </div>
            </form>
          </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>REGION A</td>
            <td>300</td>
            <td>THREE HUNDRED</td>
            <td>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirmed</button>
              </div>
            </form>
          </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>REGION B</td>
            <td>200</td>
            <td>TWO HUNDRED</td>
            <td>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirmed</button>
              </div>
          </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>REGION C</td>
            <td>400</td>
            <td>FOUR HUNDRED</td>
            <td>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirmed</button>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
      
    </div>
      </div>
{%endblock%}