{% extends "vote/base/base.html" %}
{% comment %} This part enabbles the EC to print codes for the respect party agents {% endcomment %}
{%block content%}
      <div class="container">
       <div class="container">
        <h4 class='text-center'>Party Data</h4>
        <h6 class='text-center'>Voting Date: 20/11/2021</h6>
        <h6 class='text-center'>Political Party Name: Party A information</h6>
       </div>
       
      
    <div class="container-fluid">
     
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Agent Name</th>
            <th scope="col">Region</th>
            <th scope="col">Constituency</th>
            <th scope="col">Polling Station</th>
            <th scope="col">Agent Code</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Kwame Addo</td>
            <td>REGION A</td>
            <td>CONSTITUENCY A</td>
            <td>POLLING A</td>
            <td>PACC34 A</td>
            

        </tr>
          
    </div>
{%endblock%}